@use 'base/variables' as v;
@use 'base/mixins' as m;

.edit-poll-container {
  .poll-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      color: v.$principalColor;
      text-align: start;
      font-size: 4.5rem;
    }

    .visibility-poll-button-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .visibility-poll-button {
        @include m.button(transparent, v.$white);
        margin: 0;
        padding: 1rem;
        font-weight: inherit;
        font-size: 2.2rem;

        &.public {
          background-color: v.$blue;
        }

        &.private {
          background-color: v.$red;
        }
      }
    }
  }

  .answers-link {
    color: v.$textColor;
    font-size: 2rem;

    &:hover{
      color: darken(v.$textColor, 10);
    }
  }

  .poll-description{
    margin-top: 2rem;
  }

  h2 {
    text-align: start;
    margin: 2rem 0;
  }

  .questions-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;

    .create-question-button {
      @include m.button(v.$principalColor, v.$white);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
    }
  }

  .questions-container {
    margin: 3rem auto;

    .no-question {
      text-align: center;
      color: v.$gray;
    }
  }
}