@use 'base/variables' as v;
@use 'base/mixins' as m;

.form{
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem auto;
  max-width: 40rem;

  .field-group-container{
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
  }

  .field-group{
    margin: 2rem 0;
    position: relative;

    .char-counter{
      background-color: v.$darkGray;
      border-radius: .5rem;
      padding: 1rem;
      color: v.$white;
      position: absolute;
      right: 0;
      top: 0;

      &.error{
        background-color: v.$red;
      }
    }

    label, input, textarea, select{
      display: block;
      width: 100%;
      color: v.$textColor;
      padding: 1rem 0;
      font-size: 2rem;
      background-color: transparent;
      transition: all .3s ease;

      &:focus{
        outline: none;
        color: v.$white;
        border: .2rem solid v.$principalColor;
      }
    }

    input, textarea, select{
      border: .2rem solid v.$darkGray;
      padding: 1rem;

      &:focus{
        border: .2rem solid v.$principalColor;
      }
    }

    input{
      color: v.$textColor;
    }

    select{
      color: v.$white;
      padding: 1rem;

      option{
        background-color: v.$darkGray;
        color: v.$white;
      }
    }

    textarea{
      resize: none;
      height: 15rem;
    }

    .button-submit{
      border: .2rem solid v.$darkGray;
      color: v.$white;

      &:hover{
        border: .2rem solid v.$principalColor;
        color: v.$principalColor;
      }
    }
  }
}