@use 'base/variables' as v;
@use 'base/mixins' as m;

.form{
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem auto;
  max-width: 40rem;

  .field-group{
    margin: 2rem 0;

    label, input{
      display: block;
      width: 100%;
      // margin: .5rem 0;
      padding: 1rem 0;
      font-size: 2rem;
    }

    input{
      background-color: transparent;
      border: none;
      color: v.$principalColor;
      border-bottom: .2rem solid v.$darkGray;
      transition: all .3s ease;

      &:focus{
        outline: none;
        color: v.$white;
        border-bottom: .2rem solid v.$principalColor;
      }
    }

    .button-submit{
      border: .2rem solid v.$darkGray;
      color: v.$white;

      &:hover{
        border: .2rem solid v.$principalColor;
        color: v.$principalColor;
      }
    }
  }
}