@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/build/img/hero.webp');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // .logo{
  //   font-size: 6rem;
  // }
}