@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/build/img/hero.webp');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .hero-content{

    .logo{
      margin-bottom: 5rem;
      font-size: 7rem;
    }

    .register-paragraph{
      margin-top: 3rem;
    }

    .register-link{
      @include m.button(v.$principalColor, v.$white);
    }
  }
}