// Fuentes
$principalFont: 'Abel', sans-serif;

// Tamaño de Media Queries
$breakpointSmartWatch: 320px;
$breakpointPhone: 410px;
$phone: 480px;
$tablet: 768px;
$breakpointDesktop: 930px;
$desktop: 1024px;

// Colores
$bgColor: #131313;

// Colores de elementos html
$titleColor: #f3f3f3;
$textColor: #e6e6e6;

// Colores de alertas
$red:#FF0000;
$green:#34b822;
$blue: #37a6e6;

// Escala de grises
$black: #000000;
$darkGray: #434343;
$mediumDarkGray: #6b6b6b;
$gray: #a1a1a1;
$lightGray: #e0e0e0;
$white: #FFFFFF;

// Paleta principal de colores
$principalColor: #00c9ac;
$secondaryColor: #5a9d8d;
$terciaryColor: #e4fff8;

// $principalColor: #610094;
// $secondaryColor: #3F0071;
// $tertiaryColor: #150050;